.v-recipes-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__wrapper {
    position: relative;

    border-top: 7px double $border-clr;
    border-bottom: 7px double $border-clr;
    max-width: max-content;
    width: 100%;
    margin-top: 20px;

    @media (max-width: 550px) {
      margin-top: 60px;
    }

    &::after {
      content: "TAGS:";
      color: $main-clr;
      font-size: 42px;
      line-height: 1.2;
      font-family: $font-subtitle;

      position: absolute;
      left: -60px;
      top: -50px;
      transform: rotate(-15deg);

      @media (max-width: 991px) {
        font-size: 36px;
        transform: rotate(-5deg);
        left: 0;
        top: -35px;
      }
    }
  }

  &__container {
    display: flex;
    overflow-x: auto;
    padding-top: 10px;
    padding-bottom: 10px;

    scroll-behavior: smooth;
  }

  &__tab {
    padding: 10px;
    border-radius: $border-radius;
    border: none;
    font-weight: 700;
    font-size: 28px;
    line-height: 0.9;
    white-space: nowrap;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 0 0 0 $action-clr;
    color: $action-clr;
    text-shadow: 1px 1px 1px $main-clr;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

    &:hover {
      color: $main-clr;
    }
    &--active {
      color: $main-clr;
      box-shadow: inset 350px 0 0 0 $action-clr;
    }

    &::before {
      content: "";
      background-color: hsla(196, 61%, 58%, 0.75);
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 8px;
      z-index: -1;
      transition: all 0.3s ease-in-out;
      border-radius: inherit;
    }

    &:hover::before {
      bottom: 0;
      height: 100%;
    }

    & + & {
      margin-left: 20px;
    }
  }
}
