.v-recipes-list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;

  @media (max-width: 475px) {
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
  }
}
