$font-base: "Open Sans", sans-serif;
$font-title: "Oi", serif;
$font-subtitle: "Press Start 2P", system-ui;
$border-radius: 8px;

$main-clr: #1c1c1c;
$main-bg: #f7f2e5;
$accent-clr: #f6c543;
$accent-bg: #668a45;
$border-clr: #d8cdbc;
$card-bg: #f0e8d8;
$action-clr: #54b3d6;
